@font-face {
    font-family: LexendMega;
    src: url(../fonts/LexendMega-Regular.ttf);
}
body{
    font-family: LexendMega;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    background-color: green;
    width: 100%;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: green;
}
.containerbutton{
    display: grid;
    grid-row: 1fr 1fr 1fr;
    
}
.containerbutton button{
    border-radius: 5px;
    border-color: green;
    background-color: rgb(213,236,197);
    width: 15em;
    color: rgb(63,111,60);
}
.containerbutton button:hover{

    background-color:rgb(189,225,166) ;

}
.containerbutton button:active{

    background-color:rgb(84,140,47) ;
    color: rgb(162,203,135);

}
#searchsection{
    display: flex;
    justify-content: space-between;
}
#formwrapper{
    height: 0;
    overflow: hidden;
    transition: height 500ms;
}
.loader{
    display: inline-block;
    border: 3px solid black ;
    border-radius:50% ;
    border-left-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    animation: spin 1.5s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*#containerbutton{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}*/
