@font-face {
  font-family: LexendMega;
  src: url(../fonts/LexendMega-Regular.ttf);
}
body {
  font-family: LexendMega;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  background-color: green;
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: green;
}
#containerbutton div {
  display: grid;
  grid-row: 1fr 1fr 1fr;
}
#buttons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.buttonsearch {
  border-radius: 5px;
  border-color: green;
}
.buttonstyle {
  border-radius: 5px;
  border-color: green;
  background-color: rgb(213, 236, 197);
  width: 16em;
  color: rgb(63, 111, 60);
}
.buttonstyle:hover {
  background-color: #bde1a6;
}
.buttonstyle:active {
  background-color: rgb(84, 140, 47);
  color: rgb(162, 203, 135);
}

#notsearch {
  display: none;
}
.shop{
    background-color: white;
    margin: 20px;
    margin-left:19.5%;
    margin-top: 10%;
    margin-right: 19.5%;
    padding: 2%;
    box-shadow: 0px 0px 3px 1px rgb(162, 203, 135);
    border-radius: 8px;
    font-size: 20px;
    border: rgb(162, 203, 135) solid 1px;
}
#insertform {
  border: 1px solid black;
}

#searchsection {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
#buttonnew {
  border-radius: 5px;
  border-color: green;
  background-color: rgb(213, 236, 197);
  width: 15em;
  color: rgb(63, 111, 60);
}
.shop {
  border: 2px solid black;
  margin-top: 1%;
}

#formwrapper {
  height: 0;
  overflow: hidden;
  transition: height 500ms;
}
.loader {
  display: inline-block;
  margin-left: 50%;//tuve que usar esto porque estaba apurado
  margin-top: 20%;
  border: 3px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
